################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
# Ignorar carpetas temporales de Visual Studio
.vs/
*/.vs/

# Ignorar resultados de compilación
bin/
obj/
*/bin/
*/obj/

# Archivos de usuario
*.user