## --- Visual Studio y Compilación ---
# Carpetas de compilación
[Bb]in/
[Oo]bj/

# Carpetas temporales y caché de Visual Studio
.vs/
.vscode/
# Archivos de opciones de usuario (importante)
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs

## --- Sistema Operativo ---
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac (Apple)
.DS_Store
.AppleDouble
.LSOverride

## --- Otros ---
# Archivos de log
*.log
# Archivos de bloqueo de paquetes (opcional, pero a veces útil)
project.lock.json